.slider{
    overflow: hidden;
}

.slider--inner{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;

    transition: all 0.3s ease-in;
    align-items: center;

}

.slider--inner img{

    aspect-ratio: 16/9;
    Object-fit: cover;
   
}

img{
    max-width:100%;
}